* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: blanchedalmond;
    color: $main-color;
    font-size: 20px;
    min-width: 450px;
}

a {
    text-decoration: none;
    color: rgb(207, 93, 131);
}