.header {
    @include flex-container;
    background-color: $bg-color;
    color: $secondary-color;
    padding: 20px;
    @media screen and (max-width: 958px) {
        flex-direction: column;
    }
}