.menu {
    font-size: 25px;
    &__item {
        @include nav-header;
        margin-right: 20px;
        transition-duration: .5s;
        &:hover {
            color: $title-color;
        }
    }
    @media screen and (max-width: 594px) {
        display: flex;
        flex-direction: column;
        &__item {
            margin-right: 0;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}